
page-historiador {


  :root {
    --ion-safe-area-top: 2px;
    --ion-safe-area-bottom: 2px;
  }


  .grid {
    padding: 1px;
  }

  ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 0px;
  }

  ion-row > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 0px;
  }
     
  .scroll-content {
    padding-top: 0px;
    padding-bottom: 16px;
  }
  
  .botaoTransparente {
    opacity: 0.3;
  }

  .botaoNormal {
    opacity: 1.0;
  }

  .fab[mini] {
    width: 100px;
    height: 100px;
    line-height: 40px;
  }

  .botaoDeCor {
    opacity: 1;
  }

  .botaoPaletaCores {
    content: url('/assets/imgs/botaoPaletaCores.png');
  }

  .botaoTipografia {
    content: url('/assets/imgs/botaoTipografia.png');
  }

  .botaoVoltar {
    width: 25%;
    height: 25%;
    content: url('/assets/imgs/botaoVoltar.png');
  }

  .botaoAleatorio {
    width: 50%;
    height: 50%;
    content: url('/assets/imgs/botaoAleatorio.png');
  }

  .botaoReiniciar {
    width: 50%;
    height: 50%;
    content: url('/assets/imgs/botaoVoltar.png');
  }

  .divComFab {
    width: auto;
    margin: auto;
    background: rgba(237, 237, 222, 0.0);
    min-height: 80px;
    background-color: transparent; 
    border: none;
    /*
    padding: 12px;
    padding-top: 25px;
    */
  }

  .opacidadeBotao50 {
    opacity: 0.5;
  }

 
  // -------------- ESTILO NEUTRO ----------------
  .textoCorNeutro {
    color: red;
  }

  .textoFonteNeutro {
    font-family: Arial, Helvetica, sans-serif;
  }

  .imagemNeutro {
    content: url('/assets/imgs/logo.png');
  }

  .balaoDeDialogo {
    content: url('/assets/imgs/balaoDeDialogo.png');
  }


  // -------------- ART DECO ----------------

  .balaoDeDialogoArtDeco {
    content: url('/assets/imgs/balaoDeDialogoArtDeco.png');
  }

  .botaoArtDeco {
    content: url('/assets/imgs/botaoArtDeco.png');
  }

  .fab-close-active[artDeco] .fab-close-icon {
    content: url('/assets/imgs/botaoArtDeco.png');
  }

  .textoCorArtDeco {
    color: yellowgreen;
  }

  .textoFonteArtDeco {
    font-family: "Times New Roman", Times, serif;
  }

  .imagemArtDeco {
    content: url('/assets/imgs/imagemArtDeco.jpg');
  }

  .layoutArtDeco {
    position: relative;
    animation-name: artDeco;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
  }

  @keyframes artDeco {
    0%   {left:0px;}
    50%  {left:200px;}
    100% {left:0px;}
  }


  // -------------- ART NOVEAU --------------

  .balaoDeDialogoArtNoveau {
    content: url('/assets/imgs/balaoDeDialogoArtNoveau.png');
  }

  .botaoArtNoveau {
    content: url('/assets/imgs/botaoArtNoveau.png');
  }

  .fab-close-active[artNoveau] .fab-close-icon {
    content: url('/assets/imgs/botaoArtNoveau.png');
  }

  .textoCorArtNoveau {
    color: blueviolet;
  }

  .textoFonteArtNoveau {
    font-family: Courier, "Lucida Console", monospace;
  }

  .imagemArtNoveau {
    content: url('/assets/imgs/imagemArtNoveau.jpg');
  }


  // -------------- BAUHAUS -----------------

  .balaoDeDialogoBauhaus {
    content: url('/assets/imgs/balaoDeDialogoBauhaus.png');
  }

  .botaoBauhaus {
    content: url('/assets/imgs/botaoBauhaus.png');
  }

  .fab-close-active[bauhaus] .fab-close-icon {
    content: url('/assets/imgs/botaoBauhaus.png');
  }


  // -------------- POP ART -----------------

  .balaoDeDialogoPopArt {
    content: url('/assets/imgs/balaoDeDialogoPopArt.png');
  }

  .botaoPopArt {
    content: url('/assets/imgs/botaoPopArt.png');
  }

  .fab-close-active[popArt] .fab-close-icon {
    content: url('/assets/imgs/botaoPopArt.png');
  }

  // ----------------- HINT -----------------------
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  ul{
    width: 100%;
    height: 50px;
    background-color: gray;
    position: relative;
    display: inline-flex;
    top: -20px;
    list-style: none;
  }

  .lista{
    padding-left: 50px;


  }

  #iconHome.artDeco{
    /*posicionamento*/
    position: relative;
    top: 25%;
    width: 23px;
    height: auto;

    stroke:#daa520;
    stroke-miterlimit:10;
    stroke-width:2px;
  }

  #iconHome.teste{
    position: relative;
    top: 25%;
    width: 23px;
    height: auto;

    stroke-miterlimit:10;
    stroke:black;
  }

  #iconExplorar{
    position: relative;
    top: 25%;
    width: 23px;
    height: auto;

    stroke:#daa520;
    stroke-miterlimit:10;
    stroke-width:2px;
    }

  #iconMensagem{
    position: relative;
    top:25%;
    width: 33px;
    height: auto;

    fill: none;
    stroke:#daa520;
    stroke-miterlimit:10;
    stroke-width:2px;
  }

    /*Icone notificação*/
   
    #iconNotificacao{
    position: relative;
    top:25%;
    width: 23px;
    height: auto;

    fill:#daa520;

    }
    /*Fim ícone notificação*/

    #logo{
      fill:none;
      stroke:#daa520;
      stroke-miterlimit:10;
      stroke-width:2px;

      width: 50px;
      position: relative;
      top: 20px;
      left: 25px
    }
    #iconUsuario{
      fill:silver;
      width: 75px;
      position: relative;
      top: 10px;
      left: 10px;
    }

    #divHeader{
      position: relative;
      width: 100%;
      height: 75px;
      background-color: black;
    }
    /*H1 do titulo da página*/
    h1{
      color: white;
      position: relative;
      text-align: center;
      top: -53px; 
      font-family: GrenadierNF !important;
      font-size: 60px;
    }

    .postagem{
      width: 50%;
      max-width: 49.7%;
      height: 220px;
      bottom: -120px;
      border: solid;
      border-color: #DDA250;
      position: relative;
      display: inline-block;
      background-color: black;
    }

    #postagemUsuario1{
      position: absolute;
      left: 100px;
      width: 70%;
      top: 20px;
      height: 57px;
      overflow-wrap: break-word;
      resize: none;


    }

    #postagemUsuario2{
      position: absolute;
      left: 100px;
      top: 10px;
      width: 70%;
      height: 75px;
      overflow-wrap: break-word;
      resize: none;
    }
    #iconCurtir{
      position: relative;
      top: 30px;
      align-self: left;
      left: 28px;
      fill:none;
      stroke:#daa520;
      stroke-miterlimit:10;
      width: 15px;
    }
    #iconComentar{
      position: relative;
      top: 29px;
      align-self: center;
      left: 37px;

      fill:none;
      stroke:#daa520;
      stroke-miterlimit:10;
      width: 15px;
    }

    #iconShare{
      position: relative;
      left: 33px;
      top: 32px;
      fill:none;
      stroke:#daa520;
      stroke-miterlimit:10;
      width: 13px;

    }
}