page-historiador {

  :root {
    --ion-safe-area-top: 2px;
    --ion-safe-area-bottom: 2px;
  }

  .grid {
    padding: 1px;
  }

  ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 0px;
  }

  ion-row > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 0px;
  }
     
  .scroll-content {
    padding-top: 0px;
    padding-bottom: 16px;
  }
  
  .botaoTransparente {
    opacity: 0.3;
  }

  .botaoNormal {
    opacity: 1.0;
  }

  .fab[mini] {
    width: 100px;
    height: 100px;
    line-height: 40px;
  }

  .botaoDeCor {
    opacity: 1;
  }

  .botaoPaletaCores {
    content: url('/assets/imgs/botaoPaletaCores.png');
  }

  .botaoTipografia {
    content: url('/assets/imgs/botaoTipografia.png');
  }

  .botaoVoltar {
    width: 25%;
    height: 25%;
    content: url('/assets/imgs/botaoVoltar.png');
  }

  .botaoAleatorio {
    width: 50%;
    height: 50%;
    content: url('/assets/imgs/botaoAleatorio.png');
  }

  .botaoReiniciar {
    width: 50%;
    height: 50%;
    content: url('/assets/imgs/botaoVoltar.png');
  }

  .divComFab {
    width: auto;
    margin: auto;
    background: rgba(237, 237, 222, 0.0);
    min-height: 80px;
    background-color: transparent; 
    border: none;
    /*
    padding: 12px;
    padding-top: 25px;
    */
  }

  .opacidadeBotao50 {
    opacity: 0.5;
  }

 
  // -------------- ESTILO NEUTRO ----------------
  .textoCorNeutro {
    color: red;
  }

  .textoFonteNeutro {
    font-family: Arial, Helvetica, sans-serif;
  }

  .imagemNeutro {
    content: url('/assets/imgs/logo.png');
  }

  .balaoDeDialogo {
    content: url('/assets/imgs/balaoDeDialogo.png');
  }


  // -------------- ART DECO ----------------

  .balaoDeDialogoArtDeco {
    content: url('/assets/imgs/balaoDeDialogoArtDeco.png');
  }

  .botaoArtDeco {
    content: url('/assets/imgs/botaoArtDeco.png');
  }

  .fab-close-active[artDeco] .fab-close-icon {
    content: url('/assets/imgs/botaoArtDeco.png');
  }

  .textoCorArtDeco {
    color: yellowgreen;
  }

  .textoFonteArtDeco {
    font-family: "Times New Roman", Times, serif;
  }

  .imagemArtDeco {
    content: url('/assets/imgs/imagemArtDeco.jpg');
  }

  .layoutArtDeco {
    position: relative;
    animation-name: artDeco;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
  }

  @keyframes artDeco {
    0%   {left:0px;}
    50%  {left:200px;}
    100% {left:0px;}
  }


  // -------------- ART NOVEAU --------------

  .balaoDeDialogoArtNoveau {
    content: url('/assets/imgs/balaoDeDialogoArtNoveau.png');
  }

  .botaoArtNoveau {
    content: url('/assets/imgs/botaoArtNoveau.png');
  }

  .fab-close-active[artNoveau] .fab-close-icon {
    content: url('/assets/imgs/botaoArtNoveau.png');
  }

  .textoCorArtNoveau {
    color: blueviolet;
  }

  .textoFonteArtNoveau {
    font-family: Courier, "Lucida Console", monospace;
  }

  .imagemArtNoveau {
    content: url('/assets/imgs/imagemArtNoveau.jpg');
  }


  // -------------- BAUHAUS -----------------

  .balaoDeDialogoBauhaus {
    content: url('/assets/imgs/balaoDeDialogoBauhaus.png');
  }

  .botaoBauhaus {
    content: url('/assets/imgs/botaoBauhaus.png');
  }

  .fab-close-active[bauhaus] .fab-close-icon {
    content: url('/assets/imgs/botaoBauhaus.png');
  }

  .quadroMenu {
    width: 33%;
    height: 50%;
    margin-left: 10px;
    position: relative;
    content: url('/assets/imgs/bauhaus/quadroMenu.png');
  }

  .divisaoColunas {
    width: 50%;
    content: url('/assets/imgs/bauhaus/divisaoColunas.png');
    margin-left: 100px;
    margin-top: -280px;
    position: relative;
  }

  .quadroPostagem1 {
    width: 50%;
    content: url('/assets/imgs/bauhaus/quadroPostagem.png');
    margin-left: 400px;
    margin-top: -600px;
    position: relative;
  }

  .quadroPostagem2 {
    width: 50%;
    content: url('/assets/imgs/bauhaus/quadroPostagem.png');
    margin-left: 400px;
    margin-top: 10px;
    position: relative;
  }

  .quadroSombra1 {
    width: 50%;
    content: url('/assets/imgs/bauhaus/quadroPostagemSombra.png');
    margin-left: 420px;
    margin-top: -240px;
    position: relative;
  }

  .textoQuadro1 {
    width: 50%;
    margin-left: 420px;
    margin-top: -240px;
    position: relative;
  }


  // -------------- POP ART -----------------

  .balaoDeDialogoPopArt {
    content: url('/assets/imgs/balaoDeDialogoPopArt.png');
  }

  .botaoPopArt {
    content: url('/assets/imgs/botaoPopArt.png');
  }

  .fab-close-active[popArt] .fab-close-icon {
    content: url('/assets/imgs/botaoPopArt.png');
  }

  // ----------------- HINT -----------------------
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

}