page-home {

    .content-md { 
        background: url(/assets/imgs/home/saiba-mais-design.gif) no-repeat center center fixed; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    
    .botaoIniciar {
        content: url('/assets/imgs/home/botao-iniciar.png');
        background-color: transparent; 
    }
    
    .botaoCreditos {
        content: url('/assets/imgs/home/botao-creditos.png');
        background-color: transparent; 
    }

    .div-botoes {
        display: inline-flex;
        position: absolute;
        margin-left: 64.5%;
        margin-top: 30%;
        transform: scale(1.5);
    }

    .sombra-botoes{
        background-color: transparent;
        color: transparent;
        box-shadow:  0px 7px 10px black;
        border-radius: 100%;
    }

    .colunaBotaoIniciar {
        margin-right: 25px;
    }
}