page-home {

    .content-md {
        background-color: #3D5971;
    }

    .titulo {
        content: url('/assets/imgs/home-titulo.png');
        margin-left: 30%;
        margin-top: 0px;
        padding-top: 0px;
    }

    .colunaLinhaTempo {
        width: 100%;
        padding: 0px;
    }

    @font-face {
        font-family: 'High Tower Text';
        src: url('/assets/fonts/high-tower-text.ttf');
      }

    .colunaTextoExplicativo {
        padding: 0 0 0 20px;
        font-size: 22pt;
        color: #F0EEEA;
        font-family: 'High Tower Text';
        text-align: justify;
    }

    span {
        color: #E47863;
    }

    .colunaBotaoCredito {
        width: 100%;
        text-align: left;
    }

    .colunaBotaoIniciar {
        width: 100%;
        text-align: right;
    }

    .botaoIniciar {
        content: url('/assets/imgs/botao-iniciar.png');
        background-color:transparent; 
      }
    
    .botaoCreditos {
        content: url('/assets/imgs/botao-creditos.png');
        background-color:transparent; 
    }

    .tl-layout-landscape {
        width: 100%; 
        height: 470px;
    }

    .tl-menubar {
        top: 300px;
    }

}
