page-home {

    .content-md {
        background-color: #1B425E;
    }

    .titulo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 48px;
        text-align: center;
        color: #F4F2E9;
    }

    .container {
        display: flex;
        padding: 10px 0 0 0;
    }

    .colunaLinhaTempo {
        width: 70%;
    }

    .colunaTextoExplicativo {
        width: 30%;
        padding: 0 0 0 20px;
    }

    .colunaBotaoCredito {
        width: 70%;
        text-align: left;
    }

    .colunaBotaoIniciar {
        width: 30%;
        text-align: right;
    }

}
