page-creditos {

  .content-md {
    background-color: #F0EEEA;
  }

  .titulo {
    content: url('/assets/imgs/creditos-titulo.png');
    margin-left: 40%;
    margin-top: 0px;
    padding-top: 0px;
  }

  .texto {
    content: url('/assets/imgs/creditos-texto.png');
    margin-left: 18%;
    margin-top: 0px;
    padding-top: 0px;
    transform: scale(0.75);
  }

  .botaoVoltar {
    content: url('/assets/imgs/botao-voltar.png');
    transform: scale(0.8);
    position: absolute;
    box-shadow: 1px 5px 6px 3px #4242428f;
    border-radius: 100%;
  }

}