page-creditos {

  .content-md {
    background-color: #F0EEEA;
  }

  .titulo {
    content: url('/assets/imgs/creditos-titulo.png');
    margin-left: 40%;
    margin-top: 0px;
    padding-top: 0px;
  }

  .texto {
    content: url('/assets/imgs/creditos-texto.png');
    margin-left: 18%;
    margin-top: 0px;
    padding-top: 0px;
    transform: scale(0.75);
  }

  .botaoVoltar {
    transform: scale(0.8);
    content: url('/assets/imgs/botao-voltar.png');
    position: absolute;
    box-shadow: 0px 7px 10px black;
    border-radius: 100%;
  }

}