  @font-face{
    font-family: GrenadierNF;
    src: url(../assets/fonts/GrenadierNF.ttf) format('truetype'),
    	url(../assets/fonts/GrenadierNF.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
