// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Fonte a ser usada nos textos da aplicação
@font-face {
  font-family: 'Champagne e Limousines';
  src: url('../assets/fonts/champagne-e-limousines.ttf');
}

// Customizando a mensagem de alerta do botão "Reiniciar"
.alert-md .alert-wrapper{
  font-family: "Champagne e Limousines";
  border-radius: 15px;
}

.alert-md .alert-title {
  font-size: 25px;
  font-weight: 900!important;
}

.alert-md .alert-message {
  max-height: 240px;
  font-size: 19px;
  color: #58585A;
  font-weight: 900;
  overflow: hidden;
}

.alert-md .alert-button .button-inner {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #E67863;
}